{% extends "layout.html" %}

{% block title %}
    Reset password
{% endblock %}

{% block main %}
<form class="forms" data-toggle="validator" action="{{ url_for('reset_password') }}" method="post">
    <fieldset>
        <div class="form-group">
            <input type="email" class="form-control" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="inputEmail" placeholder="Email" data-error="Email address is invalid" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </fieldset>
</form>
{% endblock %}
